body {
  display: block;
  background-color: #f9f7fe;
  margin: 8px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h1 {
}
span {
  color: red;
}

.search-form {
  display: block;
  margin-top: 0;
}
main {
  display: block;
  padding: 30px 0;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 78%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  width: 10%;
}
.weather-app-container {
  display: block;
  border: 1px solid;
  margin: 40px 5px;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #fff;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-temperature-container {
  display: flex;
}
